<h1>

    Codeial / <%= title %>
    <ul>
        <% if(locals.user){ %>
            <li>
                <a href="/users/profile">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
            <section id="feed-posts">
                <h4>
                    Posts
                </h4>
                <form action="/posts/create" method="POST" id="new-post-form">
                    <textarea name="content" col="40" rows="5" placeholder="type here..." required></textarea>
                    <input type="submit" value="Post">
                </form>
                   
            </section>
        <% }else{ %>
            <li>
                <a href="users/sign-in"> Sign In</a>
            </li>
            <li>
                <a href="users/sign-up"> Sign Up</a>
            </li>
        <% } %>       
    </ul>
    <ul>
        <% for(let i of posts){%>
            <li>
                <%= i.content %>
                <%= i.user.name %>
                <div class="post-comments">
                    <% if(locals.user){ %> 
                        <form action="/comments/create" method="POST" id="comment">
                            <input type="text" name="content" placeholder="type here to add comment" required>
                            <input type="hidden" name="post" value="<%=i._id%>">
                            <input type="submit" value="Add Comment">
                        </form> 
                    <% } %> 
                    <div class="comments">
                        <ul>
                            <% for(let comment of i.comments){ %>
                                <li>
                                    <h6><%= comment.content %><br>
                                        by <%= comment.user.name %>
                                    </h6>  
                                </li>
                            <% } %>
                        </ul> 
                    </div>
                </div>
            </li>
        <% } %>
    </ul> 
</h1>